#!/sbin/openrc-run

# init.d file for radiogagad

NAME=radiogagad
DAEMON=/usr/local/bin/radiogagad
PID=/var/run/radiogagad.pid

if [ -f /media/USBKEY/mpd/playlists/startup.txt ]; then
    RGGD_STARTUP_PLAYLISTS=$(cat /media/USBKEY/mpd/playlists/startup.txt)
fi

depend() {
    need net
    need localmount
    use mpd
}


start() {
    ebegin "Starting ${NAME}"
    start-stop-daemon  --background --start --exec ${DAEMON} \
        --env RGGD_STARTUP_PLAYLISTS=${RGGD_STARTUP_PLAYLISTS} \
        --stdout-logger "logger -t ${NAME} -p daemon.info"  \
        --stderr-logger "logger -t ${NAME} -p daemon.err"  \
        --make-pidfile --pidfile ${PID}
    eend $?
}

stop() {
	ebegin "Stopping ${NAME}"
    start-stop-daemon --stop --pidfile ${PID}
	eend $?
}
